@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit Testimonial";
    ViewData["ActiveLink"] = "/testimonials";
}
<section class="page-content">
    <h1 class="page-content__header">Edit Testimonial, ID: @Model.Model.Id</h1>
    <div class="page-content__content">
        <partial name="_TestimonialItemPartial" for="Model" />
    </div>
</section>