@page "{handler?}/{id:int?}"
@model BlogModel
@{
    ViewData["Title"] = "Blog";
    ViewData["ActiveLink"] = "/blog";
}
<section class="page-content">
    <h1 class="page-content__header">Blog Post List</h1>
    <div class="page-content__content blog-post-list">
        <div class="blog-post-list__items">
            <partial name="_BlogPostListPartial" for="Model" />
        </div>
        <a asp-page="/blog/add" class="blog-post-list__add button button--size-sm">Add New Blog Post</a>
    </div>
    <partial name="_BlogPostModalPartial" />
</section>