@page "{handler?}/{id:int?}"
@model BrandsModel
@{
    ViewData["Title"] = "Brands";
    ViewData["ActiveLink"] = "/brands";
}
<section class="page-content">
    <h1 class="page-content__header">Brand List</h1>
    <div class="page-content__content brand-list">
        <div class="brand-list__items">
            <partial name="_BrandListPartial" for="Model" />
        </div>
        <a asp-page="/brands/add" class="brand-list__add button button--size-sm">Add New Brand</a>
    </div>
</section>