@page "{handler?}"
@model MessagesModel
@{
    ViewData["Title"] = "Messages";
    ViewData["ActiveLink"] = "/messages";
}
<section class="page-content">
    <h1 class="page-content__header">Messages</h1>
    <div class="page-content__content">
        <form id="messagesForm" method="post">
            <table class="message-table table table-hover">
                <caption class="message-table__caption">
                    <button type="submit" asp-page-handler="Unread" class="message-table__unread button button--size-sm">Unread</button>
                    <button type="submit" asp-page-handler="Delete" class="message-table__delete button button--size-sm">Delete</button>
                </caption>
                <thead class="message-table__head">
                    <tr>
                        <th>#</th>
                        <th>&nbsp;</th>
                        <th>From</th>
                        <th>Subject</th>
                        <th>Text</th>
                        <th>Timestamp</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="message-table__body">
                    <partial name="_MessageTablePartial" for="Messages" />
                </tbody>
            </table>
        </form>
    </div>
</section>