@page
@model MyProfileModel
@{
    ViewData["Title"] = "My Profile";
    ViewData["ActiveLink"] = "/myprofile";
}
<section class="page-content container-fluid">
    <h1 class="page-content__header">My Profile</h1>
    <div class="profile page-content__content row">
        <form id="userInfoForm" class="form-horizontal" method="post" enctype="multipart/form-data">
            <partial name="_PersonalInfoPartial" for="PersonalInfo" />
            <partial name="_SocialLinksPartial" for="SocialLinks" />
            <button type="submit" class="profile__save button button--size-sm">Save</button>
        </form>
    </div>
</section>