@page "{handler?}/{id:int?}"
@model ServicesModel
@{
    ViewData["Title"] = "Services";
    ViewData["ActiveLink"] = "/services";
}
<section class="page-content">
    <h1 class="page-content__header">Service List</h1>
    <div class="page-content__content service-list">
        <div class="service-list__items">
            <partial name="_ServiceListPartial" for="Model" />
        </div>
        <a asp-page="/services/add" class="service-list__add button button--size-sm">Add New Service</a>
    </div>
</section>
