@page "{handler?}/{id:int?}"
@model TestimonialsModel
@{
    ViewData["Title"] = "Testimonials";
    ViewData["ActiveLink"] = "/testimonials";
}
<section class="page-content">
    <h1 class="page-content__header">Testimonial List</h1>
    <div class="page-content__content testimonial-list">
        <div class="testimonial-list__items">
            <partial name="_TestimonialListPartial" for="Model" />
        </div>
        <a asp-page="/testimonials/add" class="testimonial-list__add button button--size-sm">Add New Testimonial</a>
    </div>
</section>