@page
@model UsersModel
@{
    ViewData["Title"] = "Users";
    ViewData["ActiveLink"] = "/users";
    bool isAdmin = User?.IsInRole("Administrator") ?? false;
}
<section class="page-content">
    <h1 class="page-content__header">User List</h1>
    <div class="page-content__content user-list">
        <div class="user-list__items">
            <partial name="_UserListPartial" for="Users" />
        </div>
        @if (isAdmin)
        {
            <a asp-page="/users/register" class="user-list__add button button--size-sm">Register New User</a>
        }
    </div>
</section>
