@page "{handler?}/{id:int?}"
@model WorksModel
@{
    ViewData["Title"] = "Works";
    ViewData["ActiveLink"] = "/works";
}
<section class="page-content">
    <h1 class="page-content__header">Work Example List</h1>
    <div class="page-content__content work-example-list">
        <div class="work-example-list__items">
            <partial name="_WorkExampleListPartial" for="Model" />
        </div>
        <a asp-page="/works/add" class="work-example-list__add button button--size-sm">Add New Work Example</a>
    </div>
    <partial name="_WorkExampleModalPartial" />
</section>
