@model IList<DomainUser>
@{ 
    ViewData["MixinClass"] = "about-section__header";
    ViewData["Title"] = "About us";
    ViewData["Subtitle"] = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet";
}
<section class="section about-section body__line" id="about">
    <div class="container">
        <partial name="_SectionHeaderPartial" view-data="ViewData" />
        <div class="about-section__content">
            <section class="about-us-info about-section__text row">
                <h3 class="sr-only">Company Description</h3>
                <p class="about-us-info__item col-sm-6">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt
                    ut labore et dolore aliquyam
                    erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd
                    gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam
                    erat.
                    Lorem ipsum dolor sit amet. Lorem ipsum eat.
                </p>
                <p class="about-us-info__item col-sm-6">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut
                    labore et dolore aliquyam erat,
                    sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd
                    gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam
                    erat.
                    Loreipsum dolor sit amet. Lorem ipsum dolor et.
                </p>
            </section>
            <section class="about-section__carousel">
                <h3 class="sr-only">Our Team</h3>
                <div class="team-carousel owl-carousel">
                    @if (Model != null && Model.Any())
                    {
                        foreach (DomainUser teamMember in Model)
                        {
                            <partial name="_TeamMemberPartial" model="teamMember" />
                        }
                    }
                </div>
            </section>
        </div>
    </div>
</section>