@model ContactSectionViewModel
@{ 
    ViewData["MixinClass"] = "contact-section__header";
    ViewData["Title"] = "Get in touch";
    ViewData["Subtitle"] = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet";
}
<section class="section contact-section body__line" id="contact">
    <div class="container">
        <partial name="_SectionHeaderPartial" view-data="ViewData" />
        <div class="contact-section__content row">
            <partial name="_ContactsPartial" for="Contacts" />
            <partial name="_ContactFormPartial" for="Message" />
        </div>
    </div>
</section>