/// <reference path="../../../styles/index/index" />

.testimonials-slider {

    &__dots {
        text-align: center;
        margin-top: 40px;
    }

    &__dot {
        margin: 0;
        padding: 0;
        @include circle($testimonials-slider-dot-size);
        background: none;
        background-color: $light-grey-color;
        border: none;

        &.active {
            background-color: $accent-color;
        }

        &:not(:first-child) {
            margin-left: 7px;
        }
    }
}