/// <reference path="variables" />

// Clearfix hack mixin.
@mixin clearfix {
    &:after, &:before {
        display: table;
        content: "";
        clear: both;
    }
}
// Миксин параметров шрифта.
@mixin font($family: null, $size: null, $weight: null, $line-height: null, $color: null) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
}
// Миксин подключения локальных шрифтов.
@mixin font-face($font-family, $url, $font-weight) {
    @font-face {
        font-family: $font-family;
        src: url($url) format('truetype');
        font-weight: map-get($font-weights, $font-weight);
    }
}
// Миксин прямоугольного блока.
@mixin box($height, $width) {
    height: $height;
    width: $width;
}
// Миксин квадратного блока.
@mixin square($size) {
    @include box($size, $size);
}
// Миксин блока в форме окружности.
@mixin circle($size) {
    @include square($size);
    border-radius: 50%;
}
// Миксин обрезки однострочного текста с добавлением трёх точек в
// месте обрезки.
@mixin text-crop-ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
