/// <reference path="../../styles/common/common" />

.footer {
    background-color: $accent-color;

    &__content {
        margin: 0;
    }

    &__socials {
        margin: 0;

        &-item {
            margin: 0;

            &:not(:first-child) {
                margin-left: 15px;
            }
        }
    }

    &__copyright {
        margin: 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(12px),
            $weight: map-get($font-weights, 'normal'),
            $color: $white-color
        );
        text-transform: uppercase;

        &--single {
            padding: ($gutter-width / 2);
            text-align: center;
        }
    }
}