/// <reference path="../../styles/common/common" />

.work-example {

    &__title {
        margin: 0;
        padding: 0;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(20px),
            $weight: map-get($font-weights, 'semi-bold'),
            $color: $primary-color
        );
    }

    &__subtitle {
        margin: 10px 0 0 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(14px),
            $weight: map-get($font-weights, 'normal'),
            $color: $primary-color
        );
    }

    &__description {
        margin: 15px 0 0 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(16px),
            $weight: map-get($font-weights, 'normal'),
            $line-height: $large-line-height,
            $color: $primary-color
        );
    }
}