/// <reference path="../../../styles/common/common" />

.custom-file-input {

    &__text {
        background-color: $white-color !important;

        &--right {
            margin-left: -1px;
        }
    }

    &__upload {
        display: none !important;
    }
}
