/// <reference path="../../../styles/common/common" />

.page-content {
    padding: 0;

    &__header {
        margin: 0;
        padding: 0;
        @include font( 
            $family: $heading-font-family, 
            $size: px-to-rem(36px), 
            $weight: map-get($font-weights, 'semi-bold'), 
            $color: $primary-color 
        );
        text-transform: uppercase;
    }

    &__content {
        margin: 15px 0 0 0;
    }
}