/// <reference path="../../../styles/index/index" />

.contacts {
    @include clearfix();

    &__line {
        position: relative;
        margin: 0;
        // Отступ для иконки
        padding: 0 0 0 30px;
        float: none;

        &:not(:first-of-type) {
            margin-top: $gutter-width;
        }

        // Немного необычные для бутстрапа медиа-запросы, но нужные
        // для требуемой адаптивности.
        @media (min-width: 680px) and (max-width: $screen-xs-max) {
            float: left;
            width: 31%;
            margin-top: 0 !important;

            &:not(:first-of-type) {
                margin-left: ($gutter-width / 2);
            }
        }
    }

    /* Кривые иконки FontAwesome. */
    &__icon {
        position: absolute;
        top: -4px;
        left: 0;

        &-mail {
            font-size: 20px;
            top: -1px;
            left: -3px;
        }
    }

    &__caption {
        margin: 0;
        padding: 0;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(14px),
            $weight: map-get($font-weights, 'semi-bold'),
            $color: $primary-color
        );
        text-transform: uppercase;
    }

    &__text {
        margin: ($gutter-width / 2) 0 0 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(12px),
            $weight: map-get($font-weights, 'normal'),
            $line-height: 2,
            $color: $primary-color
        );
    }
}