/// <reference path="../../../styles/index/index" />

.contact-section {

    &__header {
        margin: 0;
    }

    &__content {
        margin-top: $content-margin;
    }

    &__contacts {
        margin: 0;
    }

    &__contact {
        @media (max-width: $screen-xs-max) {
            margin-top: 40px;
        }
    }
}