/// <reference path="../../../styles/index/index" />

.blog-post-list {
    padding: 0;

    &__separator {
        margin: 40px 0;
        border-color: $light-grey-color;
    }

    &__button {
        margin: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(14px),
            $weight: map-get($font-weights, 'normal')
        );
        text-transform: uppercase;
    }

    &__loading {
        text-align: center;
    }

    &__loader {
        display: none;
        color: $accent-color;

        &--visible {
            display: inline-block;
        }
    }
}