/// <reference path="../../styles/common/common" />

.custom-modal {
    display: table;
    height: 100%;
    margin: {
        left: auto;
        right: auto;
    }
    padding: ($gutter-width / 2) 0;

    &__inner {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }

    &__content {
        border-radius: 0;  
    }

    &__footer {
        text-align: left;
    }

    &__close {
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(13px),
            $weight: map-get($font-weights, 'normal')
        );
        text-transform: uppercase;
        letter-spacing: px-to-rem(0.35px);
    }
}