/// <reference path="../../styles/common/common" />

// Стили для ошибок jquery-validation-unobtrusive.
.input-validation-error {
    border-color: $accent-color;
}

.field-validation-error {
    padding-left: 3px;
    @include font(
        $family: $text-font-family, 
        $size: px-to-rem(12px), 
        $weight: map-get($font-weights, 'normal'), 
        $color: $accent-color
    );
}

.validation-summary-errors {
    @include font(
        $family: $text-font-family, 
        $size: px-to-rem($default-font-size), 
        $weight: map-get($font-weights, 'normal'), 
        $color: $accent-color
    );

    & > ul {
        list-style: none;
        padding: 0;
        margin: 0 0 15px;
    }
}