/// <reference path="../../../styles/admin/admin" />

.message-table {
    padding: 0;
    margin: 0;

    &__caption {
        padding: 0;
        margin: 0 0 10px 0;
    }

    &__head {
        font-family: $heading-font-family;
        text-transform: uppercase;
    }

    &__unread, &__delete {
        margin: 0 5px 0 0;
    }
}