/// <reference path="../../../styles/admin/admin" />

.work-example-item {

    &__img {
        padding: 0;
        margin: 0;
        width: $work-example-item-width;
        height: $work-example-item-height;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        margin: 0 0 0 30px;
        overflow: hidden;
    }

    &__view, &__edit, &__delete {
        margin: 0 5px 0 0;
    }
}