/// <reference path="../../../styles/admin/admin" />

.main {
    display: flex;
    flex: 1 0 auto;

    &__nav {
        margin: 0;
        padding: 15px 0; 
    }

    &__content {
        margin: 0;
        padding: ($gutter-width / 2);
        overflow: hidden;
        flex: 1;
    }
}