/// <reference path="../../../styles/admin/admin" />

.nav-menu {
    @extend .menu;

    &__item {
        margin: 0;

        &.active > .nav-menu__link {
            background-color: $accent-color;
            color: $white-color !important;

            & > .nav-menu__badge {
                background-color: $white-color;
                color: $accent-color;
            }
        }
    }

    &__link {
        display: block;
        margin: 0;
        padding: 15px 25px;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(18px),
            $weight: map-get($font-weights, 'semi-bold')
        );
        letter-spacing: px-to-rem(0.35px);
    }

    &__badge {
        background-color: $accent-color;
        color: $white-color;
    }
}
