@model IList<ServiceInfo>
@{ 
    ViewData["MixinClass"] = "services-section__header";
    ViewData["Title"] = "Services";
    ViewData["Subtitle"] = "We offer ipsum dolor sit amet, consetetur sadipscing elitr amet";
}
<section class="section services-section body__line" id="services">
    <div class="container">
        <partial name="_SectionHeaderPartial" view-data="ViewData" />
        <section class="service-list services-section__content row">
            <h3 class="sr-only">Service List</h3>
            @if (Model != null)
            {
                foreach (ServiceInfo serviceInfo in Model)
                {
                    <article class="service service-list__item col-md-4">
                        <div class="service__icon">
                            <i class="@serviceInfo?.IconClass"></i>
                        </div>
                        <h4 class="service__caption">@serviceInfo?.Caption</h4>
                        <p class="service__description">@serviceInfo?.Description</p>
                    </article>
                }
            }
        </section>
    </div>
</section>