/// <reference path="../../../styles/index/index" />

.contact-form {
    position: relative;

    &__line {
        &:not(:first-child) {
            margin-top: 20px;
        }

        @media (min-width: $screen-md-min) {
            &:nth-child(-n+2) {
                margin-top: 0;
            }
        }
    }

    &__text-input {
        margin: 0 0 0 0;
        padding: 17px;
        width: 100%;
        border: 1px solid $primary-color;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(12px),
            $weight: map-get($font-weights, 'normal'),
            $color: $primary-color
        );

        &::placeholder {
            text-transform: uppercase;
        }
        
        &:focus {
            outline: none;
            border-color: $accent-color;

            &::placeholder {
                color: transparent;
            }
        }  
    }

    &__text-area {
        @extend .contact-form__text-input;
        resize: vertical;
        min-height: 100px;
        line-height: $large-line-height;
    }

    &__button {
        margin: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(13px),
            $weight: map-get($font-weights, 'normal')
        );
        text-transform: uppercase;
        letter-spacing: px-to-rem(0.35px);
    }

    &__note {
        margin: 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(12px),
            $weight: map-get($font-weights, 'normal'),
            $color: $primary-color
        );

        // ::first-letter почему-то не работает корректно.
        &:before {
            content: "\002A"; // *
            color: $accent-color;
        }

        // Запутанная игра с медиа-запросами для нужного
        // адаптивного поведения.
        @media (max-width: 609px) {
            display: block;
            margin-top: 20px;
        }

        @media (min-width: 610px) {
            display: inline-block;
            margin-left: $gutter-width;
        }

        @media (min-width: $screen-sm-min) {
            display: block;
            margin: 20px 0 0 0;
        }

        @media (min-width: $screen-md-min) {
            display: inline-block;
            margin: 0 0 0 $gutter-width;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba($white-color, 0.7);
        display: none;
        justify-content: center;
        align-items: center;

        &--visible {
            display: flex;
        }
    }

    &__loader {
        color: $accent-color;
    }
}