/// <reference path="../../../styles/index/index" />

.contact-form-modal {
    padding: ($gutter-width / 2);

    &__status {

        &-text {
            @include font(
                $family: $heading-font-family,
                $size: px-to-rem(16px),
                $weight: map-get($font-weights, 'semi-bold')
            );
            text-transform: uppercase;
        }
        
        &-icon {
            font-size: px-to-rem(18px);

            &--color {
                &-red {
                    color: red;
                }

                &-green {
                    color: green;
                }
            }
        }
    }
}