@model IList<BlogPost>
@{ 
    ViewData["MixinClass"] = "blog-section__header";
    ViewData["Title"] = "Recent blog posts";
    ViewData["Subtitle"] = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet";
}
<section class="section blog-section body__line" id="blog">
    <div class="container">
        <partial name="_SectionHeaderPartial" view-data="ViewData" />
        <section class="blog-post-list blog-section__content">
            <h3 class="sr-only">Blog Post List</h3>
            <partial name="_BlogPartial" model="Model" />
            <div class="blog-post-list__loading">
                <hr class="blog-post-list__separator" />
                <form id="getBlogPostsForm" asp-controller="BlogPosts" asp-action="GetRenderedBlogPostPreviewsAsync" method="get">
                    <button type="submit" class="blog-post-list__button button">Load More</button>
                </form>
                <i class="blog-post-list__loader fa fa-spinner fa-pulse fa-3x"></i>
            </div>
        </section>
    </div>
    <partial name="_BlogPostModalPartial" />
</section>