/// <reference path="../../../styles/index/index" />

.team-member {
    text-align: center;

    &__photo {
        position: relative;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;

        &-overlay {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);
        }
    }

    &__socials {
        margin: 0;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__name {
        margin: 20px 0 0 0;
        padding: 0;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(14px),
            $weight: map-get($font-weights, 'semi-bold'),
            $color: $primary-color
        );
        text-transform: uppercase;
    }

    &__job {
        margin: 15px 0 0 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(13px),
            $weight: map-get($font-weights, 'normal'),
            $color: $primary-color
        );
    }
}