/// <reference path="../../../styles/index/index" />

.custom-navbar {
    background-color: $accent-color;
    border-bottom: 1px solid $primary-color;
    transition: top 0.3s linear;

    &--position-fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }

    &__content {
        margin: 0;

        @media (min-width: $screen-sm-min) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: ($gutter-width / 2) 0;
        }
    }

    &__static {
        margin: 0;

        @media (max-width: $screen-xs-max) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: ($gutter-width / 2) 0;
        }
    }

    &__logo {
        margin: 0;
    }

    &__toggler {
        margin: 0;
        background: none;
        border: none;
        color: $white-color;
        line-height: 1;

        @media (min-width: $screen-sm-min) {
            display: none;
        }
    }

    &__collapse {
        margin: 0 (-$gutter-width / 2);
        border-top: 1px solid $primary-color;

        @media (min-width: $screen-sm-min) {
            display: block;
            border: none;
            height: auto !important;
            margin: 0;
        }
    }

    &__nav {
        margin: ($gutter-width / 2);

        @media (min-width: $screen-sm-min) {
            margin: 0;
        }
    }
}
