$body-section-padding: 100px 0;
$content-margin: 70px;

$service-icon-size: 90px;
$service-icon-font-size: 48px;

$team-member-social-link-size: 28px;
$footer-social-link-size: 35px;

$work-example-preview-height: 320px;
$work-example-preview-width: 360px;

$blog-post-preview-height: 320px;
$blog-post-preview-header-date-size: 76px;

$brands-carousel-item-height: 60px;
$testimonials-slider-dot-size: 13px;