/// <reference path="admin" />

html, body {
    font-family: $text-font-family;
    font-size: $default-font-size;
    line-height: $default-line-height;
    height: 100%;
    width: 100%;
    background-color: $white-color;
    margin: 0;
    padding: 0;
}
// Бутстрап 3 задаёт по умолчанию line-height = 1.1 для заголовков.
h1, h2, h3, h4, h5, h6 {
    line-height: $default-line-height;
}