$blog-post-item-img-height: 322px;
$blog-post-item-img-width: 460px;

$brand-item-img-height: 100px;
$brand-item-img-width: 150px;

$user-widget-img-size: 50px;

$profile-photo-height: 250px;
$profile-photo-width: 263px;

$work-example-item-height: 320px;
$work-example-item-width: 360px;