@page "{userName}"
@model ManageModel
@{
    ViewData["Title"] = "Manage User";
    ViewData["ActiveLink"] = "/users";
    ViewData["ManagePage"] = true;
}
<section class="page-content">
    <h1 class="page-content__header">Manage User</h1>
    <div class="page-content__content">
        <partial name="_UserItemPartial" for="DomainUser" view-data="ViewData" />
    </div>
</section>