/// <reference path="../../../styles/index/index" />

.section-header {
    padding: 0;
    text-align: center;

    &__title {
        margin: 0;
        padding: 0;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(20px),
            $weight: map-get($font-weights, 'semi-bold'),
            $color: $primary-color
        );
        text-transform: uppercase;
    }

    &__separator {
        margin-top: $gutter-width;
    }

    &__subtitle {
        margin: $gutter-width 0 0 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(16px),
            $weight: map-get($font-weights, 'normal'),
            $line-height: $large-line-height,
            $color: $primary-color
        );
    }
}