@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit Service";
    ViewData["ActiveLink"] = "/services";
}
<section class="page-content">
    <h1 class="page-content__header">Edit Service, ID: @Model.Model.Id</h1>
    <div class="page-content__content">
        <partial name="_ServiceItemPartial" for="Model" />
    </div>
</section>