/// <reference path="../../../styles/admin/admin" />

.testimonial-item {
    margin: 0;
    padding: 0;

    &__line {
        margin: 0 0 15px 0;

        &:last-child {
            margin: 0;
        }
    }

    &__edit, &__delete {
        margin:  0 5px 0 0;
    }

    &__text {
        line-height: $large-line-height;
    }
}