<footer class="footer">
    <div class="footer__copyright footer__copyright--single">
        &copy; 2015-@DateTime.Now.Year Startup, Designed by ShapedTheme, Programmed by WeirdSoft
    </div>
</footer>
