@model ContactsViewModel
@{ 
    if (Model != null)
    {
        ViewData[Model?.Address?.Name] = "fa fa-map-marker fa-2x";
        ViewData[Model?.Phone?.Name] = "fa fa-mobile-phone fa-2x";
        ViewData[Model?.Email?.Name] = "contacts__icon-mail fa fa-envelope";
    }
}
<section class="contacts contact-section__contacts col-sm-4">
    <h3 class="sr-only">Contacts</h3>
    <partial name="_ContactLinePartial" for="Address" view-data="ViewData" />
    <partial name="_ContactLinePartial" for="Phone" view-data="ViewData" />
    <partial name="_ContactLinePartial" for="Email" view-data="ViewData" />
</section>