@model IEnumerable<WorkExample>
@{ 
    string buttonClass = "work-example-preview__button button button--size-sm button--color-white button--border-thick";
}
<div class="gallery__items row">
    @if (Model != null && Model.Any())
    {
        foreach (WorkExample workExample in Model)
        {
            <article class="work-example-preview gallery__item col-sm-6 col-md-4" data-group="@workExample?.Category?.ToLower()">
                <div class="work-example-preview__inner">
                    <img src="@Url.Content(workExample?.ImagePath)" alt="@workExample?.Name" class="work-example-preview__img" />
                    <div class="work-example-preview__overlay">
                        <div class="work-example-preview__overlay-inner">
                            <h4 class="work-example-preview__title">@workExample?.Name</h4>
                            <h5 class="work-example-preview__subtitle">@workExample?.Category</h5>
                            <button class="@buttonClass" asp-controller="WorkExamples" asp-action="GetByIdAsync" asp-route-id="@workExample?.Id">
                                View&nbsp;&nbsp;<i class="fa fa-angle-right work-example-preview__button-icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        }
    }
</div>