@model IEnumerable<string>
@{
    string buttonClass = "button button--style-link menu__item gallery__filter-item";
    string activeClass = "gallery__filter-item--active";
    var isAllCategory = new Predicate<string>(x => x.ToUpper() == "ALL" || x == "*");
}
<div class="menu menu--style-inline gallery__filter">
    @if (Model != null)
    {
        foreach (string category in Model)
        {
            <button type="button" class="@(isAllCategory(category) ? $"{buttonClass} {activeClass}" : buttonClass)"
                    data-filter="@category?.ToLower()">
                @(isAllCategory(category) ? "All" : category)
            </button>
        }
    }
</div>