@* Модальное окно WorkExample *@
<div class="modal fade" tabindex="-1" id="work-example-modal">
    <div class="work-example custom-modal">
        <div class="modal-dialog modal-lg custom-modal__inner">
            <div class="container">
                <div class="modal-content custom-modal__content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <div class="work-example__title"></div>
                        <div class="work-example__subtitle"></div>
                    </div>
                    <div class="modal-body clearfix">
                        <img src="" alt="" class="work-example__img img-responsive center-block" />
                        <div class="work-example__description"></div>
                    </div>
                    <div class="modal-footer custom-modal__footer">
                        <button type="button" class="button button--size-sm custom-modal__close" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>