@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit Blog Post";
    ViewData["ActiveLink"] = "/blog";
}
<section class="page-content">
    <h1 class="page-content__header">Edit Blog Post, ID: @Model.Model.Id</h1>
    <div class="page-content__content">
        <partial name="_BlogPostItemPartial" for="Model" />
    </div>
</section>