/// <reference path="../../../styles/index/index" />

.parallax-section {
    background-image: url("../../images/parallax-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    &__overlay {
        background-color: rgba($accent-color, 0.6);
    }

    &__title {
        margin: 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(30px),
            $weight: map-get($font-weights, 'normal'),
            $color: $white-color
        );
    }

    &__button {
        margin: 50px 0 0 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(16px),
            $weight: map-get($font-weights, 'normal')
        );
        text-transform: uppercase;
    }
}