@model IDictionary<string, string>
@{
    ViewData["MixinClass"] = "footer__socials-item";
    string linkClass = "social-link social-link--shape-circle";
}
<footer class="section footer body__line">
    <div class="container">
        <address class="section-header footer__content">
            <ul class="menu menu--style-inline footer__socials">
                <li class="menu__item footer__socials-item">
                    <sociallink href="@Model?["Facebook"]" class="@linkClass" icon="fa fa-facebook" />
                </li>
                <li class="menu__item footer__socials-item">
                    <sociallink href="@Model?["Twitter"]" class="@linkClass" icon="fa fa-twitter" />
                </li>
                <li class="menu__item footer__socials-item">
                    <sociallink href="@Model?["GooglePlus"]" class="@linkClass" icon="fa fa-google-plus" />
                </li>
                <li class="menu__item footer__socials-item">
                    <sociallink href="@Model?["Linkedin"]" class="@linkClass" icon="fa fa-linkedin" />
                </li>
            </ul>
            <hr class="section-header__separator dash dash--color-white" />
            <div class="section-header__subtitle">
                <p class="footer__copyright">
                    &copy; 2015-@DateTime.Now.Year Startup. Designed by ShapedTheme. Programmed by Yury Smirnov.
                </p>
            </div>
        </address>
    </div>
</footer>