/// <reference path="../../../styles/index/index" />

.social-link {
    padding: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    &:hover, &:focus {
        text-decoration: none;
    }

    &--shape {

        &-circle {
            @include circle($footer-social-link-size);
            line-height: 32px;
            border: 2px solid $white-color;
            color: $white-color;
            background-color: transparent;
            font-size: 16px;
            transition: all 0.1s;

            &:hover, &:focus {
                color: $accent-color;
                background-color: $white-color;
            }
        }
        
        &-square {
            @include square($team-member-social-link-size);
            line-height: $team-member-social-link-size;
            color: $white-color;
            background-color: transparent;
    
            &:hover, &:focus {
                color: $white-color;
                background-color: $accent-color;
            }
        }
    }
}