@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit Brand";
    ViewData["ActiveLink"] = "/brands";
}
<section class="page-content">
    <h1 class="page-content__header">Edit Brand, ID: @Model.Model.Id</h1>
    <div class="page-content__content">
        <partial name="_BrandItemPartial" for="Model" />
    </div>
</section>