/// <reference path="../../../styles/common/common" />

.contact-item {
    padding: 0;

    &__content {
        margin: 0;
    }

    &__line {

        &:last-child {
            margin-bottom: 0;
        }

        &-delete {
            margin-top: 6px;
        }
    }
}