/// <reference path="../../../styles/common/common" />

.list-item {
    padding: 0;

    &__header {
        margin: 0;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(18px),
            $weight: map-get($font-weights, 'semi-bold'),
            $color: $primary-color
        );
    }

    &__content {
        display: flex;
        margin: 0;

        &-line {
            margin: 0 0 15px 0;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }

            &--crop-with-dots {
                @include text-crop-ellipsis();
            }
        }

        &-line-heading {
            font-weight: map-get($font-weights, 'semi-bold');
        }
    }

    &__footer {
        margin: 0;
    }
}