@page
@{
    Layout = "~/Areas/Account/Pages/Shared/_Layout.cshtml";
}
<div class="error-info">
    <h1 class="error-info__title">Error 404</h1>
    <h2 class="error-info__subtitle">Page Not Found</h2>
    <p class="error-info__description">The page you are looking for doesn't exist at this location.</p>
</div>