@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>500 Internal Server Error.</h1>
    <hr />
    <p style="font-size: 18px;">A critical error occurred while processing your request.</p>
</body>
</html>
