/// <reference path="../../../styles/index/index" />

.service-list {
    padding: 0;

    &__item {
        margin: 0;

        &:not(:nth-of-type(-n+3)) {
            margin-top: ($gutter-width * 1.5);
        }

        @media (max-width: $screen-sm-max) {
            &:not(:first-of-type) {
                margin-top: ($gutter-width * 1.5);
            }
        }
    }
}