@model WorksSectionViewModel
@{ 
    ViewData["MixinClass"] = "works-section__header";
    ViewData["Title"] = "Latest works";
}
<section class="section works-section body__line" id="works">
    <div class="container">
        <partial name="_SectionHeaderPartial" view-data="ViewData" />
        <section class="gallery works-section__content">
            <h3 class="sr-only">Work Example Gallery</h3>
            <partial name="_GalleryFilterPartial" for="Categories" />
            <partial name="_GalleryItemsPartial" for="WorkExamples" />
        </section>
    </div>
    <partial name="_WorkExampleModalPartial" />
</section>
