/// <reference path="../../../styles/index/index" />

.carousel-nav-button {
    padding: 0 12px;
    background-color: $primary-color;
    opacity: 0.2;
    border: none;
    color: $light-grey-color;
    outline: none;
    font-size: 24px;
    transition: all 0.1s;
    
    &:hover {
        color: $white-color;
        background-color: $accent-color;
        opacity: 1;
    }
}