@page
@model AddModel
@{
    ViewData["Title"] = "Add Work Example";
    ViewData["ActiveLink"] = "/works";
}
<section class="page-content">
    <h1 class="page-content__header">Add New Work Example</h1>
    <div class="page-content__content">
        <partial name="_WorkExampleItemPartial" for="Model" />
    </div>
</section>