@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit Work Example";
    ViewData["ActiveLink"] = "/works";
}
<section class="page-content">
    <h1 class="page-content__header">Edit Work Example, ID: @Model.Model.Id</h1>
    <div class="page-content__content">
        <partial name="_WorkExampleItemPartial" for="Model" />
    </div>
</section>