/// <reference path="../../../styles/index/index" />

.work-example-preview {
    text-align: center;
    
    &__inner {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        height: $work-example-preview-height - $gutter-width;
        width: $work-example-preview-height - $gutter-width;
        /* 
            Странные медиа-запросы для ограничения размеров изображений. 
            Теперь можно вставлять картинки любых размеров и они всегда 
            будут выглядеть единообразно.
        */
        @media (min-width: ($work-example-preview-height + $gutter-width)) {
            height: $work-example-preview-height;
            width: $work-example-preview-height;
        }

        @media (min-width: ($work-example-preview-width + $gutter-width)) {
            width: $work-example-preview-width;
        }

        @media (min-width: $screen-sm-min) {
            width: auto;
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: $work-example-preview-height - $gutter-width;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__overlay {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba($accent-color, 0.7);

        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    &__title {
        margin: 0;
        padding: 0;
        @include font(
            $family: $heading-font-family,
            $size: px-to-rem(18px),
            $weight: map-get($font-weights, 'semi-bold'),
            $color: $white-color
        );
    }

    &__subtitle {
        margin: 15px 0 0 0;
        padding: 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(12px),
            $weight: map-get($font-weights, 'normal'),
            $color: $white-color
        );
    }

    &__button {
        margin: 20px 0 0 0;
        @include font(
            $family: $text-font-family,
            $size: px-to-rem(14px),
            $weight: map-get($font-weights, 'normal')
        );
        text-transform: uppercase;

        &-icon {
            font-size: 16px;
        }
    }

    /*&__description {
        display: none;
    }*/
}