@page
@{
    ViewData["Title"] = "Access Denied";
}
<div class="error-info">
    <h1 class="error-info__title">Error 403</h1>
    <h2 class="error-info__subtitle">Access denied.</h2>
    <p class="error-info__description">You are not authorized for this operation.</p>
</div>