@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="login-form panel panel-default center-block">
    <h3>Log in to Admin area.</h3>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="LoginInfo.UserName" class="control-label"></label>
            <input asp-for="LoginInfo.UserName" class="login-form__user-name form-control" />
            <span asp-validation-for="LoginInfo.UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LoginInfo.Password" class="control-label"></label>
            <input asp-for="LoginInfo.Password" class="login-form__password form-control" />
            <span asp-validation-for="LoginInfo.Password"></span>
        </div>
        <div class="form-group form-check">
            <input asp-for="LoginInfo.RememberMe" class="login-form__remember-me form-check-input" />
            <label asp-for="LoginInfo.RememberMe"></label>
        </div>
        <div class="form-group">
            <button class="login-form__submit button button--size-sm">Sign In</button>
        </div>
    </form>
</div>

