@model IList<BlogPost>

@if (Model != null && Model.Any())
{
    @foreach (var blogPost in Model)
    {
        <div class="list-item blog-post-item blog-post-list__item panel panel-default">
            <div class="list-item__header panel-heading">
                Blog Post, ID: <span class="blog-post-item__id">@blogPost?.Id</span>
            </div>
            <div class="list-item__content panel-body">
                <img src="@Url.Content(blogPost?.ImagePath)" alt="@blogPost?.Title"
                         class="blog-post-item__img" />
                <div class="blog-post-item__info">
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Title: </span>
                        <span class="blog-post-item__title">@blogPost?.Title</span>
                    </p>
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Category: </span>
                        <span class="blog-post-item__category">@blogPost?.Category</span>
                    </p>
                    <p class="list-item__content-line list-item__content-line--crop-with-dots">
                        <span class="list-item__content-line-heading">Content: </span>
                        <span class="blog-post-item__content">@blogPost?.Content</span>
                    </p>
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Created on </span>
                        <span class="blog-post-item__created-on">@blogPost?.CreatedOn</span>
                        <span class="list-item__content-line-heading"> By </span>
                        <span class="blog-post-item__created-by">
                            @DomainUserHelper.GetUserInfoString(blogPost?.CreatedBy)
                        </span>
                    </p>
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Last updated on </span>
                        <span class="blog-post-item__last-updated-on">@blogPost?.LastUpdatedOn</span>
                        <span class="list-item__content-line-heading"> By </span>
                        <span class="blog-post-item__last-updated-by">
                            @DomainUserHelper.GetUserInfoString(blogPost?.LastUpdatedBy)
                        </span>
                    </p>
                </div>
            </div>
            <div class="list-item__footer panel-footer">
                <form method="post" asp-page-handler="Delete" asp-route-id="@blogPost?.Id" class="blog-post-item__form">
                    <button type="button" asp-controller="BlogPosts" asp-action="GetByIdAsync" asp-route-id="@blogPost?.Id"
                            formmethod="get" class="blog-post-item__view button button--size-sm">
                        View
                    </button>
                    <a asp-page="/blog/edit" asp-route-id="@blogPost?.Id" class="blog-post-item__edit button button--size-sm">Edit</a>
                    <button type="submit"  class="blog-post-item__delete button button--size-sm" onclick="return confirm('Are you sure you want to proceed?');">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
}