@model IList<Brand>

@if (Model != null && Model.Any())
{
    @foreach(var brand in Model)
    {
        <div class="list-item brand-item brand-list__item panel panel-default">
            <div class="list-item__header panel-heading">
                Brand, ID: <span class="brand-item__id">@brand?.Id</span>
            </div>
            <div class="list-item__content panel-body">
                <img src="@Url.Content(brand?.ImagePath)" alt="@brand?.Name"
                         class="brand-item__img" />
                <div class="brand-item__info">
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Name: </span>
                        <span class="brand-item__name">@brand?.Name</span>
                    </p>
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Created on </span>
                        <span class="brand-item__created-on">@brand?.CreatedOn</span>
                        <span class="list-item__content-line-heading"> By </span>
                        <span class="brand-item__created-by">
                            @DomainUserHelper.GetUserInfoString(brand?.CreatedBy)
                        </span>
                    </p>
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Last updated on </span>
                        <span class="brand-item__last-updated-on">@brand?.LastUpdatedOn</span>
                        <span class="list-item__content-line-heading"> By </span>
                        <span class="brand-item__last-updated-by">
                            @DomainUserHelper.GetUserInfoString(brand?.LastUpdatedBy)
                        </span>
                    </p>
                </div>
            </div>
            <div class="list-item__footer panel-footer">
                <form method="post" asp-page-handler="Delete" asp-route-id="@brand?.Id" class="brand-item__form">
                    <a asp-page="/brands/edit" asp-route-id="@brand?.Id" class="brand-item__edit button button--size-sm">Edit</a>
                    <button type="submit" class="brand-item__delete button button--size-sm" onclick="return confirm('Are you sure you want to proceed?');">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
}