@model IList<ServiceInfo>

@if (Model != null && Model.Any())
{
    @foreach(var serviceInfo in Model)
    {
        <div class="list-item service-item service-list__item panel panel-default">
            <div class="list-item__header panel-heading">
                Service, ID: <span class="service-item__id">@serviceInfo?.Id</span>
            </div>
            <div class="list-item__content panel-body">
                <div class="service-item__icon">
                    <i class="@serviceInfo?.IconClass"></i>
                </div>
                <div class="service-item__info">
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Caption: </span>
                        <span class="service-item__caption">@serviceInfo?.Caption</span>
                    </p>
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Description: </span>
                        <span class="service-item__description">@serviceInfo?.Description</span>
                    </p>
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Created on </span>
                        <span class="service-item__created-on">@serviceInfo?.CreatedOn</span>
                        <span class="list-item__content-line-heading"> By </span>
                        <span class="service-item__created-by">
                            @DomainUserHelper.GetUserInfoString(serviceInfo?.CreatedBy)
                        </span>
                    </p>
                    <p class="list-item__content-line">
                        <span class="list-item__content-line-heading">Last updated on </span>
                        <span class="service-item__last-updated-on">@serviceInfo?.LastUpdatedOn</span>
                        <span class="list-item__content-line-heading"> By </span>
                        <span class="service-item__last-updated-by">
                            @DomainUserHelper.GetUserInfoString(serviceInfo?.LastUpdatedBy)
                        </span>
                    </p>
                </div>
            </div>
            <div class="list-item__footer panel-footer">
                <form method="post" class="service-item__form" asp-page="/services" asp-page-handler="Delete" asp-route-id="@serviceInfo?.Id">
                    <a asp-page="/services/edit" asp-route-id="@serviceInfo?.Id" class="service-item__edit button button--size-sm">Edit</a>
                    <button type="submit" class="service-item__delete button button--size-sm" onclick="return confirm('Are you sure you want to proceed?');">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    }
}
