@model ServiceInfoViewModel

<div class="service-item-form">
    <form method="post">
        <input asp-for="Id" class="service-item-form__id" />
        <div class="service-item-form__line form-group">
            <label asp-for="IconClass"></label>
            <input asp-for="IconClass" class="service-item-form__icon-class form-control" />
            <span asp-validation-for="IconClass"></span>
        </div>
        <div class="service-item-form__line form-group">
            <label asp-for="Caption"></label>
            <input asp-for="Caption" class="service-item-form__caption form-control" />
            <span asp-validation-for="Caption"></span>
        </div>
        <div class="service-item-form__line form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="service-item-form__description form-control"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="service-item-form__line">
            <button type="submit" class="service-item-form__submit button button--size-sm">Submit</button>
        </div>
    </form>
</div>
