@model ClientsSectionViewModel

<section class="section clients-section body__line" id="clients">
    <h2 class="sr-only">Our Happy Clients</h2>
    <div class="container">
        <partial name="_BrandsCarouselPartial" for="Brands" />
        <partial name="_TestimonialsSliderPartial" for="Testimonials" />
    </div>
</section>